
footer {
  background-color: #a1b0bd;
  color: #f2efeb;
  font-size: 20px;
}

.containerFooter {
  display: flex;
  flex-wrap:wrap;
  padding: 10px 10px;
  flex-direction:row;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
}

.boxFooter {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.boxFooter {
  max-width: 370px;
  font-size: 14px;
  line-height: 25px;
}

.boxFooter a {
  margin-bottom: 20px;
}

.boxFoot {
  padding: 40px;
  max-width: 370px;
  line-height: 25px;
  font-size: 14px;
}

.boxFoot a {
  display: inline-block;
  width: 80px;
  height: 45px;
  font-size: 30px;
  margin-bottom: 35px;
  transition: 0.3s;
}

.boxFoot a:hover {
  opacity:0.5;
  transform: scale(1.1);
  }

.boxFooter a {
  transition: 0.3s;
  animation-delay: 5s;
}

.boxFooter a:hover {
  transform: scale(1.1);
  opacity: 0.5;
  color: #394655;
}

a .fa-brands{
  transition: 0.3s;
  transform: scale(1.16);
  font-size: 30px;
  color: #394655;
}

.deskFooter {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bolder;
}
