.footer {
    padding: 45px;
    color: #f2efeb;
    font-size: 20px;
    background-image: linear-gradient(#536976, #292E49);
  }


  $mapRedes (facebook:20px, instagran:30px devianart:20px)

  @each $red, $font-size in $mapRedes {
    .footer#{$red} {
        size:$font.size
    }
  }
  